# cấu hình cá nhân - ide
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# target
target/
**/target/

# logs
*.log
logs/
**/logs/

# NetBeans & STS
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache

# environtment
.env
.env.local
**/ .env
**/ .env.local

# Loại bỏ rác dữ liệu của Database nếu cấu hình map ổ đĩa Docker ra ngoài
docker/data/
mysql_data/
postgres_data/